.game-heading {
  font-family: "Coffee-extra", "Courier New", Courier, monospace;
  font-weight: 500;
  font-size: 2.5rem;
}

.game-heading,
.game-rule {
  text-align: center;
  padding: 1rem;
}

.scoreboard-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2rem;
}

.score {
  font-weight: 600;
}

.game-grid {
  display: grid;
  margin: 5rem;
  gap: 4rem;
  padding: 1rem;
  grid-template-columns: 220px 220px 220px 220px 220px;
  grid-template-rows: 180px 180px;
}

.cat-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow:
    0 0 0 4px black,
    8px 8px 0 0 black;
}
.cat-image {
  transition: all ease-in-out 650ms;
  width: 90%;
  height: 90%;
}

.cat-image:hover {
  width: 100%;
  height: 100%;
}

.gameover-dialog {
  visibility: hidden;
  font-size: 0.8rem;
  position: fixed;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  height: 15%;
  border: 2px solid black;
  padding: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
