.game-heading {
  font-weight: 500;
  font-size: 2rem;
}

.game-heading, .game-rule {
  text-align: center;
  padding: 1rem;
}

.scoreboard-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2rem;
  margin: 1rem;

  
}